<h1>Bienvenido al Registro de Usuarios</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Teléfono</th>
    <th>E-mail</th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.phone %></td>
    <td><%= user.email %></td>
    <td><%= link_to "Editar Datos", edit_user_path(user) %></td>
    <td><%= link_to "Agregar Nuevo Usuario", new_user_path(user) %></td>
    <td><%= link_to "Eliminar Dato", user_path(user) ,method: :delete, data:{confirm: "Estas Seguro?"} %></td>
  </tr>
  <% end %>
</table>